<!DOCTYPE html>
<html>
	<head>
		<title>Covid19India</title>
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  	<style type="text/css">
  	.tableFixHead { overflow-y: auto; height: 100px; }
	.tableFixHead thead th { position: sticky; top: 0; }
	</style>
	</head>
	<body id="MessageViewBody" style="font-family:Arial,Helvetica,sans-serif; font-size: 12px; color: #464646; background: #f8f6f5; margin: 0; padding:0; width:100% !important; ">
		<h1></h1>
		<!-- {{result.Global}} -->
		
		<table id="MessageWebViewDiv" width="100%" bgcolor="#f8f6f5" border="0" cellspacing="0" cellpadding="0" id="bodyTable">
			<tr>
			<td width="100%" class="Wrapper" align="center" valign="top" id="bodyCell" style="padding: 0 100px;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" id="templateContainer">
			<tr>
			<td width="100%" align="center" valign="top" bgcolor="#699a21" style="background-color:#699a21;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
			<tbody>


			        <tr>
			            <td align="center" height="45" valign="top" bgcolor="#699a21" style="background-color:#699a21;">
			              <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                <tbody>
			                  <tr>
			                    <td width="50" height="45" class="spacer" style="font-size:1px; line-height:1px;">&nbsp;</td>

			                    <td width="65" height="45" align="left" valign="middle" style="padding: 11px 11px 11px 11px;">
			                      <a href="#" target="_blank" style="text-decoration:none;">
			                        <img src="https://i.ibb.co/88hxzMY/covid.png" width="45" alt="Covid" style="display:inline-block; border:none; outline-style: none;background-color:#699a21;">
			                      </a>
			                    </td>

			                  <td width="85%" height="45" align="left" valign="middle" style="color: #f8f6f5; font-family: Arial,Helvetica,sans-serif; font-size:18px; padding-right: 10px ;padding-left: 18px; line-height: 20px; font-weight:bold;">COVID19 CORONAVIRUS PANDEMIC</td>

			                </tr>
			              </tbody>
			            </table>
			          </td>
			        </tr>
			</tbody>
			</table>
			</td>
			</tr>
			
			<tr>
				<td align="center" valign="top" style="background-color:#f8f6f5; border: 1px solid #f8f6f5 !important;text-align: center !important;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" role="presentation" style="background-color:#9be89c;">
				<tbody>
				<tr>

					

					<th align="center" valign="top" style="padding-top:40px; padding-left: 0px; padding-right: 20px; padding-bottom:25px; background-color:#f8f6f5; border: 1px solid #f8f6f5 !important;">
					   <table width="33%" border="0" cellspacing="0" cellpadding="0" align="center" role="presentation" style="background-color:#9be89c;">
					      <tbody>
					         <tr>
					            <td><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="250" height="10"></a></td>
					         </tr>
					         <tr>
					            <td>
					               <table width="250" border="0" cellspacing="0" cellpadding="0">
					                  <tbody>
					                     <tr>
					                        <td width="15"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="25" height="18"></a></td>
					                        <td align="center" valign="middle" style="font-family: Arial,Helvetica,sans-serif; font-size:16px; font-weight: bold; mso-line-height-rule:exactly; line-height: normal; color:#005c25; background-color: #9be89c;  display: block; " bgcolor="#9be89c"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle;"> <font style="font-weight: bold; line-height: 1; color: #005c25; font-family: Arial,Helvetica, sans-serif; font-size: 16px; line-height: 20px;">{{ result.Global.TotalConfirmed }}<br>Coronavirus Cases</font></a></td>
					                        <td width="15"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="25" height="18"></a></td>
					                     </tr>
					                  </tbody>
					               </table>
					            </td>
					         </tr>
					         <tr>
					            <td><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="250" height="10"></a></td>
					         </tr>
					      </tbody>
					   </table>
					</th>
					<th align="center" valign="top" style="padding-top:40px; padding-left: 0px; padding-right: 20px; padding-bottom:25px; background-color:#f8f6f5; border: 1px solid #f8f6f5 !important;">
					   <table width="33%" border="0" cellspacing="0" cellpadding="0" align="center" role="presentation" style="background-color:#9be89c;">
					      <tbody>
					         <tr>
					            <td><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="250" height="10"></a></td>
					         </tr>
					         <tr>
					            <td>
					               <table width="250" border="0" cellspacing="0" cellpadding="0">
					                  <tbody>
					                     <tr>
					                        <td width="15"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="25" height="18"></a></td>
					                        <td align="center" valign="middle" style="font-family: Arial,Helvetica,sans-serif; font-size:16px; font-weight: bold; mso-line-height-rule:exactly; line-height: normal; color:#005c25; background-color: #9be89c;  display: block; " bgcolor="#9be89c"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle;"> <font style="font-weight: bold; line-height: 1; color: #005c25; font-family: Arial,Helvetica, sans-serif; font-size: 16px; line-height: 20px;">{{ result.Global.TotalDeaths }}<br>Deaths</font></a></td>
					                        <td width="15"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="25" height="18"></a></td>
					                     </tr>
					                  </tbody>
					               </table>
					            </td>
					         </tr>
					         <tr>
					            <td><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="250" height="10"></a></td>
					         </tr>
					      </tbody>
					   </table>
					</th>
					<th align="center" valign="top" style="padding-top:40px; padding-left: 0px; padding-right: 0px; padding-bottom:25px; background-color:#f8f6f5; border: 1px solid #f8f6f5 !important;">
					   <table width="33%" border="0" cellspacing="0" cellpadding="0" align="center" role="presentation" style="background-color:#9be89c;">
					      <tbody>
					         <tr>
					            <td><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="250" height="10"></a></td>
					         </tr>
					         <tr>
					            <td>
					               <table width="250" border="0" cellspacing="0" cellpadding="0">
					                  <tbody>
					                     <tr>
					                        <td width="15"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="25" height="18"></a></td>
					                        <td align="center" valign="middle" style="font-family: Arial,Helvetica,sans-serif; font-size:16px; font-weight: bold; mso-line-height-rule:exactly; line-height: normal; color:#005c25; background-color: #9be89c;  display: block; " bgcolor="#9be89c"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle;"> <font style="font-weight: bold; line-height: 1; color: #005c25; font-family: Arial,Helvetica, sans-serif; font-size: 16px; line-height: 20px;">{{ result.Global.TotalRecovered }}<br>Recovered</font></a></td>
					                        <td width="15"><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="25" height="18"></a></td>
					                     </tr>
					                  </tbody>
					               </table>
					            </td>
					         </tr>
					         <tr>
					            <td><a href="#" target="_blank" style="text-decoration: none; color: #005c25; display:block;vertical-align: middle"><img src="https://cdnae1.vod309.com/c87c97d2-53d8-4bb6-bf26-c2dcb22973df/0000000/000000/755/675/0/3/assetFiles/images/assets/img2.png" width="250" height="10"></a></td>
					         </tr>
					      </tbody>
					   </table>
					</th>

				</tr>
				</tbody>
				</table>
				</td>
			</tr>
			
			<tr>
			   <td align="center" valign="top" bgcolor="#f8f6f5" style="padding-left: 0px;padding-right: 0px;padding-top: 20px;padding-bottom: 20px;" class="setPadding">
			      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff;">
			         <tbody>
			            <tr>
			               <td class="" align="center" valign="top">
			                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                     <tbody>
			                        <tr>
			                           <td align="center" valign="middle" bgcolor="#f8f6f5" style="padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;border-collapse:collapse;margin: 0 auto;">
			                              <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f6f5" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;margin: 0 auto;">
			                                 <tbody>
			                                    <tr>
			                                       <td width="100%" align="center" valign="middle" bgcolor="#f8f6f5" class="fluid" style="padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;border-collapse:collapse;width:600px;">
			                                          <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f6f5" class="fluid" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
			                                             <tbody>
			                                                <tr>
			                                                   <th width="30%" align="center" valign="top" bgcolor="#cae8f7" class="fluid-block col-100 m-leftpadding" style="padding:60px 10px;border-collapse:collapse;font-weight:normal;text-align:center;width:30%;border:  2px solid #2488b9 !important;">
			                                                      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#cae8f7" class="fluid" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
			                                                         <tbody>
			                                                            <tr>
			                                                               <td align="center" valign="middle" width="45%" class="templateColumnContainer1">
			                                                                  <table align="center" border="0" valign="middle" cellpadding="0" cellspacing="0" width="100%">
			                                                                     <tbody>
			                                                                        <tr>
			                                                                           <td>
			                                                                              <table align="center" border="0" valign="middle" cellpadding="0" cellspacing="0" width="100%">
			                                                                                 <tbody>
			                                                                                    <tr>
			                                                                                       <th align="center" valign="middle" style="color:#2488b9;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:16px;line-height:20px; text-align:center;">
			                                                                                          NEW ACTIVE CASES
			                                                                                       </th>
			                                                                                    </tr>
			                                                                                 </tbody>
			                                                                              </table>
			                                                                           </td>
			                                                                        </tr>
			                                                                        <tr>
			                                                                           <td height="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
			                                                                        </tr>
			                                                                        <tr>
			                                                                           <td align="center" valign="middle" style="color:#2488b9;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:20px;line-height:20px; text-align:center;">{{ result.Global.NewConfirmed }}</td>
			                                                                        </tr>
			                                                                     </tbody>
			                                                                  </table>
			                                                               </td>
			                                                            </tr>
			                                                         </tbody>
			                                                      </table>
			                                                   </th>
			                                                   <th width="5%" align="center" valign="top" bgcolor="#f8f6f5" class="fluid-block col-100 m-leftpadding" style="border-collapse:collapse;font-weight:normal;text-align:center;width:5%;">&nbsp;</th>
			                                                   <th width="30%" align="center" valign="top" bgcolor="#cae8f7" class="fluid-block col-100 m-leftpadding" style="padding:60px 10px;border-collapse:collapse;font-weight:normal;text-align:center;width:30%;border:  2px solid #2488b9 !important;">
			                                                      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#cae8f7" class="fluid" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
			                                                         <tbody>
			                                                            <tr>
			                                                               <td align="center" valign="middle" width="45%" class="templateColumnContainer1">
			                                                                  <table align="center" border="0" valign="middle" cellpadding="0" cellspacing="0" width="100%">
			                                                                     <tbody>
			                                                                        <tr>
			                                                                           <td>
			                                                                              <table align="center" border="0" valign="middle" cellpadding="0" cellspacing="0" width="100%">
			                                                                                 <tbody>
			                                                                                    <tr>
			                                                                                       <th align="center" valign="middle" style="color:#2488b9;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:16px;line-height:20px; text-align:center;">
			                                                                                          NEW DEATHS CASES
			                                                                                       </th>
			                                                                                    </tr>
			                                                                                 </tbody>
			                                                                              </table>
			                                                                           </td>
			                                                                        </tr>
			                                                                        <tr>
			                                                                           <td height="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
			                                                                        </tr>
			                                                                        <tr>
			                                                                           <td align="center" valign="middle" style="color:#2488b9;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:20px;line-height:20px; text-align:center;">{{ result.Global.NewDeaths }}</td>
			                                                                        </tr>
			                                                                     </tbody>
			                                                                  </table>
			                                                               </td>
			                                                            </tr>
			                                                         </tbody>
			                                                      </table>
			                                                   </th>
			                                                   <th width="5%" align="center" valign="top" bgcolor="#f8f6f5" class="fluid-block col-100 m-leftpadding" style="border-collapse:collapse;font-weight:normal;text-align:center;width:5%;">&nbsp;</th>
			                                                   <th width="30%" align="center" valign="top" bgcolor="#cae8f7" class="fluid-block col-100 m-leftpadding" style="padding:60px 10px;border-collapse:collapse;font-weight:normal;text-align:center;width:30%;border:  2px solid #2488b9 !important;">
			                                                      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#cae8f7" class="fluid" style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;">
			                                                         <tbody>
			                                                            <tr>
			                                                               <td align="center" valign="middle" width="45%" class="templateColumnContainer1">
			                                                                  <table align="center" border="0" valign="middle" cellpadding="0" cellspacing="0" width="100%">
			                                                                     <tbody>
			                                                                        <tr>
			                                                                           <td>
			                                                                              <table align="center" border="0" valign="middle" cellpadding="0" cellspacing="0" width="100%">
			                                                                                 <tbody>
			                                                                                    <tr>
			                                                                                       <th align="center" valign="middle" style="color:#2488b9;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:16px;line-height:20px; text-align:center;">
			                                                                                          NEW CLOSED CASES
			                                                                                       </th>
			                                                                                    </tr>
			                                                                                 </tbody>
			                                                                              </table>
			                                                                           </td>
			                                                                        </tr>
			                                                                        <tr>
			                                                                           <td height="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
			                                                                        </tr>
			                                                                        <tr>
			                                                                           <td align="center" valign="middle" style="color:#2488b9;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:20px;line-height:20px; text-align:center;">{{ result.Global.NewRecovered }}</td>
			                                                                        </tr>
			                                                                     </tbody>
			                                                                  </table>
			                                                               </td>
			                                                            </tr>
			                                                         </tbody>
			                                                      </table>
			                                                   </th>
			                                                </tr>
			                                             </tbody>
			                                          </table>
			                                       </td>
			                                    </tr>
			                                    <tr>
			                                       <td height="15" style="font-size:1px; line-height:1px;">&nbsp;</td>
			                                    </tr>
			                                 </tbody>
			                              </table>
			                           </td>
			                        </tr>
			                     </tbody>
			                  </table>
			               </td>
			            </tr>
			         </tbody>
			      </table>
			   </td>
			</tr>
			<tr>
				<div class="container">          
				  <table class="table tableFixHead" style="background-color: #BF5FFF;">
				    <thead>
				      <tr>
				        <th style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #f36633;background-color: #6B238E;padding-top: 10px !important;">Country</th>
				        <th style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #f36633;background-color: #6B238E;padding-top: 10px !important;">NewConfirmed</th>
				        <th style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #f36633;background-color: #6B238E;padding-top: 10px !important;">TotalConfirmed</th>
				        <th style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #f36633;background-color: #6B238E;padding-top: 10px !important;">NewDeaths</th>
				        <th style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #f36633;background-color: #6B238E;padding-top: 10px !important;">TotalDeaths</th>
				        <th style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #f36633;background-color: #6B238E;padding-top: 10px !important;">NewRecovered</th>
				        <th style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #f36633;background-color: #6B238E;padding-top: 10px !important;">TotalRecovered</th>
				      </tr>
				    </thead>
				    <!-- {{result.Countries}} -->
			{% for global_count in result.Countries %}
				    <tbody>
				      <tr>
				        <td style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #C71585;font-weight: bold;">{{global_count.Country}}</td>
				        <td style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #C71585;font-weight: bold;">{{global_count.NewConfirmed}}</td>
				        <td style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #C71585;font-weight: bold;">{{global_count.TotalConfirmed}}</td>
				        <td style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #C71585;font-weight: bold;">{{global_count.NewDeaths}}</td>
				        <td style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #C71585;font-weight: bold;">{{global_count.TotalDeaths}}</td>
				        <td style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #C71585;font-weight: bold;">{{global_count.NewRecovered}}</td>
				        <td style="font-family: Arial, Helvetica, sans-serif;font-size:16px; line-height:20px;color: #C71585;font-weight: bold;">{{global_count.TotalRecovered}}</td>
				      </tr>
				    </tbody>
			{% endfor %}
				  </table>
				</div>
			</tr>
			</table>
			</td>
			</tr>


		</table>
	</body>
</html>